.waves {
	position: absolute;
	width: 100%;
	height: 10vh;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.wave {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 10vh;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
}
