.contact {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.iconsContainer {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contactstruct {
	display: flex;
	flex-direction: column !important;
	width: 100%;
}
#contactme {
	align-self: center;
	margin-top: 5%;
}

.fill {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	form {
		display: flex;
		flex-direction: column;
		margin-top: 5%;
		width: 80%;
		h3 {
			color: white;
			margin-bottom: 10%;
		}
		* {
			color: black;
		}
		input {
			height: 5vh;
		}
		button {
			margin-top: 2%;
			width: 30%;
			height: 4vh;
			border: 2px solid white;
			background-color: rgb(50, 49, 49);
			color: white;
		}
	}
}

.icons {
	position: relative;
	width: 40%;
	height: 5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: rgba(81, 52, 128);
	span {
		font-size: 2em;
	}
}
.icons:hover {
	animation: movingIcons 2s;
}
@keyframes movingIcons {
	50% {
		width: 45%;
		height: 8vh;
	}
}

@media screen and (min-width: 740px) {
	.icons {
		width: 40%;
		height: 5vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 4%;
		margin-bottom: 0;
		span {
			font-size: 2em;
		}
	}

	.contact {
		#contactme {
			margin-top: 5%;
		}
		form {
			width: 80%;
			h3 {
				color: white;
				margin-bottom: 5%;
			}
			* {
				color: black;
			}
			input {
				height: 4vh;
			}
		}
	}
}

@media screen and (min-width: 1150px) {
	.icons {
		width: 30%;
		height: 5vh;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin-top: 3%;
		margin-bottom: 0;
		span {
			font-size: 2em;
		}
	}

	.contact {
		#contactme {
			margin-top: 3%;
		}
		form {
			width: 60%;
			margin-top: 2%;
			h3 {
				color: white;
				margin-bottom: 5%;
			}
			* {
				color: black;
			}
			input {
				height: 4vh;
			}
		}
	}
}

@media screen and (orientation: landscape) and (max-width: 980px) {
	.contactstruct {
		min-height: 90vh !important;
	}

	.contact {
		#contactme {
			margin-top: 2%;
		}
		form {
			width: 60%;
			margin-top: 2%;
			input {
				height: 5vh;
			}
			button {
				height: 5vh;
				width: 20%;
			}
		}
	}
	.icons {
		height: 10vh !important;
	}
}

@media screen and(max-width: 620px ) {
	.contactstruct {
		height: 50vh;
	}
	.icons {
		height: 8vh !important;
		width: 50%;
	}
	.contact {
		flex-direction: column;
		.iconsContainer {
			width: 100%;
			height: 40%;
		}

		.fill {
			width: 100%;
			height: 60%;
		}
	}
}
