.content {
	width: 100%;
	min-height: 100vh;
}

.presentation {
	width: 100%;
	height: 50vh;
	background: rgb(49, 49, 49);
	display: flex;
	flex-direction: row;
}

.description {
	width: 60%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	h3 {
		position: relative;
		font-size: 1.8em;
		animation: animatedText 3s forwards;
	}
	h2 {
		color: transparent;
		position: relative;
		animation: animated2 3s 2s forwards;
	}

	p {
		margin-left: 15%;
		margin-right: 15%;
		font-size: 1.2em;
		position: relative;
		color: transparent;
		animation: animated3 3s 1s forwards;
		text-justify: auto;
	}
	a {
		display: flex;
		align-items: center;
		border: none;
		position: relative;
		color: transparent;
		font-size: 0.9em;
		padding: 1%;
		border-radius: 10px;
		background-color: transparent;
		animation: animatedLink 3s 1s forwards;
	}
}

.imageDescription {
	background: rgb(49, 49, 49);
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		z-index: 0;
		border-radius: 40px;
		min-width: auto !important;
		min-height: auto !important;
		max-width: none !important;
		max-height: none !important;
		width: 80% !important;
		height: auto !important;
		object-fit: cover;
		animation: animateImage 5s forwards;
	}
}

.skills {
	width: 100%;
	min-height: 50vh;
	display: flex;
	justify-content: center;
	background: rgb(49, 49, 49);
}

.skillsShow {
	flex-direction: column;
}

#titleSkills {
	align-self: center;
	font-size: 1.5em;
}

.grid {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	height: 88%;
	display: grid;

	justify-content: space-evenly;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 10rem), 12rem));

	grid-auto-rows: minmax(10rem, 12rem);
	row-gap: 2em;
	column-gap: 3em;
}

@keyframes animatedText {
	from {
		right: 100px;
		color: transparent;
	}
	to {
		right: 0;
	}
}

@keyframes animated2 {
	from {
		left: 50px;
		color: transparent;
	}
	to {
		left: 0;
		color: white;
	}
}

@keyframes animated3 {
	from {
		right: 100px;
		color: transparent;
	}
	to {
		right: 0;
		color: white;
	}
}

@keyframes animateImage {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animatedLink {
	from {
		opacity: 0;
		color: transparent;
		background-color: transparent;
	}
	to {
		color: white;
		background-color: rgb(169, 190, 49);
		opacity: 1;
	}
}

// width > height
@media screen and (max-width: 768px) and (min-width: 666px) and (orientation: portrait) {
	.presentation {
		flex-direction: column-reverse;
	}
	.description {
		width: 100%;
		height: 50%;
	}
	.imageDescription {
		width: 100%;
		height: 50%;
		img {
			width: 45% !important;
		}
	}
}

@media screen and (max-width: 665px) and (min-width: 550px) {
	.presentation {
		flex-direction: column-reverse;
	}

	.imageDescription {
		width: 100%;
		height: 50%;
		img {
			width: 45% !important;
		}
	}

	.description {
		width: 100%;
		height: 50%;
		h3 {
			font-size: 1.3em;
		}
		h2 {
			font-size: 1.1em;
		}
		p {
			font-size: 1em;
		}
		a {
			height: 5vh;
		}
	}
}

@media screen and (max-width: 400px) {
	.imageDescription {
		height: 50%;
		width: 100%;
		img {
			width: 60% !important;
			border-radius: 30px !important;
		}
	}
	.presentation {
		height: 60vh;
		flex-direction: column-reverse;
	}

	.description {
		width: 100%;
		height: 60%;
		p {
			font-size: 1.2em;
		}
		h3 {
			font-size: 1.5em;
		}
		h2 {
			font-size: 1.4em;
		}
		a {
			height: 6vh;
			font-size: 1em;
		}
	}
}

@media screen and (max-width: 550px) and (max-width: 800px) and (min-width: 401px) {
	.presentation {
		height: 60vh;
		flex-direction: column-reverse;
	}
	.imageDescription {
		width: 100%;
		height: 50%;
		img {
			width: 60% !important;
			border-radius: 30px !important;
		}
	}

	.description {
		width: 100%;
		height: 50%;
		p {
			font-size: 1.2em;
		}
		h3 {
			font-size: 1.5em;
		}
		h2 {
			font-size: 1.4em;
		}
		a {
			font-size: 1em;
			height: 5vh;
		}
	}
}
