.work {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	* {
		color: rgb(221, 220, 220);
	}
	h4 {
		margin-top: 5%;
		font-size: 1.2em;
		width: 80%;
	}
}

#title {
	font-size: 1.6em;
}

.list {
	li {
		list-style: none;
		min-height: 8vh;
		h3 {
			font-size: 1.4em;
		}
		h4 {
			color: rgb(200, 182, 48);
			font-size: 1.2em;
		}
	}
}
